<ion-header>
  <ion-toolbar color="danger">
    <div class="home-header">
      <div class="logo-wrap">
        <ion-icon name="logo-octocat" class="logo" color="light"></ion-icon>
      </div>
      <div class="search-wrap" color="light">
        <ion-icon name="search" class="search-icon" color="dark"></ion-icon>
        <input type="text" class="search-input" placeholder="搜索音乐、视频、歌词、电台">
      </div>
      <div class="logo-wrap">
        <ion-icon routerLink = "/my-music" name="ios-stats-outline" class="logo" color="light"></ion-icon>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home-tabs" (click)="tabClick($event)">
    <a [ngClass]="{'active': activeText=='个性推荐'}">个性推荐</a><a [ngClass]="{'active': activeText=='歌单'}">歌单</a><a [ngClass]="{'active': activeText=='主播电台'}">主播电台</a><a [ngClass]="{'active': activeText=='排行榜'}">排行榜</a>
  </div>
  <div class="scroll">
    <div>
      <ion-slides pager="true" loop="true" autoplay="4000" autoplayDisableOnInteraction="false" *ngIf="banners&&banners.length > 1" (ionSlideDidChange)="slideChanged()">
        <ion-slide *ngFor="let banner of banners">
          <div><img [src]="banner.pic" alt=""></div>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="recommends">
      <div class="recommend-title"><div></div>最新歌单</div>
      <div class="flex">
        <recommend-item [size]="smallSize" *ngFor="let newList of newLists" [coverImgUrl]="newList.coverImgUrl" [name]="newList.name" [trackCount]="newList.trackCount"></recommend-item>
      </div>
    </div>
    <div class="recommends">
      <div class="recommend-title"><div></div>独家放送</div>
      <div class="flex" *ngIf="privateContents">
        <!--<recommend-item *ngFor="let privateContent of privateContents" [coverImgUrl]="privateContent.picUrl" [name]="privateContent.name"></recommend-item>-->
            <recommend-item [size]="middleSize" [coverImgUrl]="privateContents[0].picUrl" [name]="privateContents[0].name"></recommend-item>
            <recommend-item [size]="middleSize" [coverImgUrl]="privateContents[1].picUrl" [name]="privateContents[1].name"></recommend-item>
            <recommend-item [size]="largeSize" [coverImgUrl]="privateContents[2].picUrl" [name]="privateContents[2].name"></recommend-item>
      </div>
    </div>
    <div class="recommends">
      <div class="recommend-title"><div></div>推荐MV</div>
      <div class="flex">
        <recommend-item [size]="middleSize" *ngFor="let recommendMV of recommendMVs" [coverImgUrl]="recommendMV.picUrl" [name]="recommendMV.name" [artistName]="recommendMV.artistName" [playCount]="recommendMV.playCount"></recommend-item>
      </div>
    </div>
    <div class="recommends">
      <div class="recommend-title"><div></div>推荐电台</div>
      <div class="flex">
        <recommend-item [size]="smallSize" *ngFor="let djprogram of djprograms" [coverImgUrl]="djprogram.picUrl" [name]="djprogram.name"></recommend-item>
      </div>
    </div>
  </div>
</ion-content>
<router-outlet></router-outlet>
