recommend-item {
  .recommend-item{
    margin-bottom: 8px;
    position: relative;
  }

  .recommend-item .cover-img{
    display: block;
    width: 100%;
  }

  .recommend-item .cover-img span{
    display: block;
    width: 100%;
    font-size: 1.4rem;
    line-height: 20px;
    max-height: 40px;
    padding-left: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .recommend-item span.artistName{
    color: #666;
    font-size: .8rem;
  }

  .recommend-item .info{
    position: absolute;
    top: 0;
    right: 0;
    padding:2px 5px;
    font-size: .8rem;
    color: #fdfdfd;
  }

}
