<!--
  Generated template for the RecommendItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="recommend-item">
  <div class="cover-img">
    <img [src]="coverImgUrl" alt="data.description" />
    <span>{{name}}</span>
    <span class="artistName" *ngIf="artistName">{{artistName}}</span>
  </div>
  <div class="info" *ngIf="trackCount">
    <ion-icon name="ios-musical-notes-outline"></ion-icon>
    {{trackCount}}万
  </div>
</div>
